@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
	height: 100%;
}

nav{
	height: 80px;
	width: 100%;
	background-color: black;
	position: fixed;
}

label.logo{
	font-size: 28px;
	font-weight: bold; 
	color: white;
	padding: 0 50px ; /*clockwise*/
	line-height: 80px;
	font-family: 'Itim', cursive;
} 

nav ul{
	float:right;
	margin-right: 40px;

}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;

}

nav a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 

nav a{
	color: white;
	font-size: 18px;
	
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 

.enroll{
	background-color: white;
	color: #000060;

}

a:hover{
	border:1px solid white;
	transition: 0.2s;
} 

.enroll:hover{
	border:3px solid pink;
	transition: 0.2s;
}

nav #icon{
	color: white; 
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px; 
	margin-right:40px;
	cursor: pointer;
	display: none;   
} 

.main{
	height: 80vh; 
	padding-top:80px; 
	background-color: #08001A; 
	display: flex;
}

.barner {
	height: 56vh;
	width: 46%;
	margin: 3%;
	text-align: ;
	border-radius: 4px;
	color: white;
}
		
.barner-text{
	margin-top: 38px;
} 

p {
	font-size: 18px;
} 

.btns {
	margin-top: 40px;
	padding: 20px;
}

.btn {
	width: 140px;
	height: 34px;
	border-radius: 5px;
	border: 0px;
	margin: 10px;
	font-weight: bold;
	color: #000;
} 

.barner-img{
	width:100%;
	height:100%; 
	margin-bottom: 30px;
	border-radius: 4px;
}

.mid-division{
    height: 50vh; 
    background-color: white;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.mid-division-divs{
	width: 30%;
}

.mid-division-img{
 	display: grid; 
 	place-items:center;
 }

.mid-division-text{
	font-weight: bold; 
	text-align: center;
} 

.about{
	height: 70vh; 
	background-color: #08001A; 
}

.about-heading{
	text-align: center;
	color: white;
	padding-top: 20px;
}

.about-article{
	display: flex;
}

.about-barner{
	border-radius: 4px;
	width: 50vw; 
	display:grid; 
	place-items:center; 
}

.about-img{
   width:100%;
   height:100%;
   border-radius: 4px;
}

.about-text-wrapper{
	color: white;
	width: 50vw; 
}

.about-text{
	margin-top: 12px;
	font-size: 14px;
	margin-top: 6px;
	margin-right:45px;
}

.core-values{
	font-size: 14px;
	margin-top: 6px;
	margin-right:45px;
}

.courses{
	height: 74vh;
	background-color: white;
	display: grid;
	place-items:center;
}

.courses-heading{
	text-align: center;
}

.courses-wrapper{
	display: flex;
	justify-content: center;
	align-items: center; 
}

.course-element{
	width:30%;
	height: 58vh;
	border: 0.5px solid #000060;
	box-shadow: 0px  1px 2px 2px #000060;
	margin: 20px; 
} 

.course-text{
	margin: 10px;
	font-size: 14px;
} 

.course-btns{
	display: grid;
	place-items:center;
	height: 70px;
}

.course-btn{
	height: 34px;
	width: 150px;
	border:0px;
	border-radius: 4px;
	font-weight: bold;
}

@media (max-width: 1048px){
	label.logo{
		font-size: 24px;
		padding-left: 40px;
	}
	nav ul{
		margin-right: 20px;
	}

	nav a{
		font-size: 17px;
	}
} 

@media (max-width: 480px){
	label.logo{
		font-size: 22px;
		font-weight: bold;
	}
	nav{
		width: 100%;
	}
	nav #icon{
		display: block;
		font-size: 24px;
	}
 
	nav ul{
		position: fixed;
		width: 100%;
		height:70vh;
		background-color: #000060;
		text-align: center;
		display: none;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		transition: 4s;
	}
	nav a{
		font-size: 20px;
	}
	a.active, a:hover{
		border:none;
		color: #3498db;
	}
	nav ul.show{
		left: 0;
	}

}
section{
	background-color: black;
	height: 600px;
	width: 100%;
}


/* footer section */
footer{
	height: 48vh; 
	width: 100%;
	background-color: #08001A;
	color: white;
	}

.footer-wrapper{
	display: flex;
	align-items: center; 
	justify-content: center;
	}

.footer-items {
	margin: 30px;
	border-radius: 10px;
	width: 30%; 
	height: 35vh;
	}
.footer-items li{
	margin: 8px; 
	margin-left: 12px;
}	

.footer-headers{
	margin-top: 10px;
	text-align: left;
	margin-left: 12px;
	}

.footer-text{
	font-size: 16px;
	}


.footer-icons{
	margin: 6px;
	font-size: 32px;
}

.icons-div{
	margin:15px;
	margin-left: 12px;
}

.contact-paragraph{
	margin: 6px; 
	margin-left: 12px;
}


.copyright a{
	color: white;
	}

.copyright{
	text-align: center;
}	
