@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
	height: 100%;
	scroll-behavior: smooth;
}


nav{
	height: 80px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: space-around;
	position: fixed;
	align-items: center;
}

.logo{
	font-size: 28px;
	font-weight: bold; 
	color: white;
	padding: 0 50px ; /*clockwise*/
	line-height: 80px;
	font-family: 'Itim', cursive;
} 

nav ul{
	display: flex;
	width: 50%;
	justify-content: space-between;
	/* margin-right: 40px; */

}

/* nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;

} */
.menu.open-menu{
 transform: translateX(0);
}

nav a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 

nav a{
	color: white;
	font-size: 18px;
	
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 
nav.sticky{
	background-color: #fff;
}
nav.sticky a{
	color: #000;
}
.logo {
	color: #000060;
}
.enroll{
	background-color: white;
	color: #000060;

}
nav.sticky .enroll{
	background-color: #000060;
	color: #fff;
}

a:hover{
	border:1px solid white;
	transition: 0.2s;
} 

.enroll:hover{
	border:3px solid pink;
	transition: 0.2s;
}

nav #icon{
	color: white; 
	font-size: 30px;
	
	cursor: pointer;
	display: none; 
} 


/* LuxDev courses */
.main{
	height: 80vh; 
	padding-top:80px; 
	background-color: #08001A; 
	display: flex;
}

.barner {
	height: 56vh;
	width: 46%;
	/* margin: 3%; */
	text-align: center;
	border-radius: 4px;
	color: white;
}
		
.barner-text{
	margin-top: 38px;
} 

p {
	font-size: 18px;
} 

.btns {
	margin-top: 40px;
	padding: 20px;
}

.btn {
	width: 140px;
	height: 34px;
	border-radius: 5px;
	border: 0px;
	margin: 10px;
	font-weight: bold;
	color: #000;
} 

.barner-img{
	width:100%;
	height:100%; 
	margin-bottom: 30px;
	border-radius: 4px;
}

.mid-division{
    height: 50vh; 
    background-color: white;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.mid-division-divs{
	width: 30%;
}

.mid-division-img{
 	display: grid; 
 	place-items:center;
 }

.mid-division-text{
	font-weight: bold; 
	text-align: center;
} 

.about{
	height: 70vh; 
	background-color: #08001A; 
}

.about-heading{
	text-align: center;
	color: white;
	padding-top: 20px;
}

.about-article{
	display: flex;
}

.about-barner{
	border-radius: 4px;
	width: 40vw; 
	display:grid; 
	place-items:center; 
}

.about-img{
   width:100%;
   height:100%;
   border-radius: 4px;
}

.about-text-wrapper{
	color: white;
	width: 60vw;
	padding-left: 20px; 
}
.about-btns{
	display: flex;
	width: 50vw;
	margin-top: 20px;
	
}
.about-text{
	margin-top: 12px;
	font-size: 14px;
	margin-top: 6px;
	margin-right:45px;
}

.core-values{
	font-size: 14px;
	margin-top: 6px;
	margin-right:45px;
}

.courses{
	height: 74vh;
	background-color: white;
	display: grid;
	place-items:center;
}

.courses-heading{
	text-align: center;
}

.courses-wrapper{
	 display: flex;
	justify-content: center;
	align-items: center;  
	/* display: grid;
	grid-template-columns: repeat(3, 1fr); */
}
.courses-wrapper > div{
	margin: auto;
}

.course-element{
	width:30%;
	/* height: 60vh; */
	border: 0.5px solid #000060;
	box-shadow: 0px  1px 2px 2px #000060;
	margin: 20px; 
} 

.course-text{
	margin: 10px;
	font-size: 14px;
} 

.course-btns{
	display: grid;
	place-items:center;
	height: 70px;
}

.course-btn{
	height: 34px;
	width: 150px;
	border:0px;
	border-radius: 4px;
	font-weight: bold;
}
/* footer section */
footer{
	/* height: 48vh;  */
	width: 100%;
	background-color: #08001A;
	color: white;
	}

.footer-wrapper{
	display: flex;
	align-items: center; 
	justify-content: center;
	}

.footer-items {
	margin: 30px;
	border-radius: 10px;
	width: 30%; 
	/* height: 35vh; */
	}
.footer-items li{
	margin: 8px; 
	margin-left: 12px;
}	

.footer-headers{
	margin-top: 10px;
	text-align: left;
	margin-left: 12px;
	}

.footer-text{
	font-size: 16px;
	}


.footer-icons{
	margin: 6px;
	font-size: 32px;
}

.icons-div{
	margin:15px;
	margin-left: 12px;
}

.contact-paragraph{
	margin: 6px; 
	margin-left: 12px;
}


.copyright a{
	color: white;
	}

.copyright{
	text-align: center;
}	

/* @media (max-width: 1048px){
	label.logo{
		font-size: 24px;
		padding-left: 40px;
	}
	nav ul{
		margin-right: 20px;
	}

	nav a{
		font-size: 17px;
	}
}  */

@media screen and (max-width:768px){
	nav ul{
		position: fixed;
		top: 80px;
		flex-direction: column;
		width: 100%;
		background-color: aqua;
		height: 60%;
		text-align: center;
		transform: translateX(100%);
	}
	nav ul li:first-child,
	nav ul li:last-child{
		margin-top: 2em;	
	}
	.md-content{
		display: none;
	}
	nav #icon{
		display: block;
	}
	

	/* home section */
	.main{
		flex-direction: column;
	}
	.barner{
		width: 100%;
		height: 100%;
		
	}
	.mid-division{
		flex-direction: column;
		margin: 400px 0 150px;
	}
	.mid-division-divs{
		width: 100%;
		margin-top: 50px;
	}

 /* About section */
 .about-barner{
	 display: none;
 }
 .about-text-wrapper{
	 width: 100%;
	 text-align: center;
	 padding: 10px ;
 }
 .about{
	 height: 90vh;
 }
 .about-btns{
	 flex-direction: column;
	 text-align: center;
	 margin: auto;
 }
 .about-btns .more{
	 margin: auto;
	 text-align: center;
	 margin-top: 10px;
 }
 /* course section */
 .courses-wrapper{
	 flex-direction: column;
 }
 .course-element{
	 width: 100%;
	 margin-top: 10px;
	 text-align: center;
 }

 /* footer section */
 footer{
	 margin-top: 800px;
 }
}
	/* label.logo{
		font-size: 22px;
		font-weight: bold;
	}
	nav{
		width: 100%;
	}
	nav #icon{
		display: block;
		font-size: 24px;
	}
 
	nav ul{
		position: fixed;
		width: 100%;
		height:70vh;
		background-color: #000060;
		text-align: center;
		display: none;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		transition: 4s;
	}
	nav a{
		font-size: 20px;
	}
	a.active, a:hover{
		border:none;
		color: #3498db;
	}
	nav ul.show{
		left: 0;
	}

*/
section{
	background-color: black;
	height: 600px;
	width: 100%;
}



@media only  screen and (max-width: 768px){

}
